version: "3"

services:
  gotify:
    container_name: ci_gotify
    image: gotify/server:2.2.2
    ports:
      - "127.0.0.1:8080:80"
    environment:
      - GOTIFY_DEFAULTUSER_NAME=admin
      - GOTIFY_DEFAULTUSER_PASS=admin
      - GOTIFY_DATABASE_DIALECT=sqlite3
      - GOTIFY_DATABASE_CONNECTION=/app/gotify.db
    volumes:
      - "~/gotify-data:/app/data"

  httpbin:
    container_name: ci_httpbin
    image: mccutchen/go-httpbin:v2.9.1
    ports:
      - "127.0.0.1:8081:8080"
