services:
  workspace:
    container_name: gotify-workspace
    build:
      context: ./workspace
    tty: true
    volumes:
      - ../:/gotify-api-php
      - vendor:/gotify-api-php/vendor
    working_dir: /gotify-api-php
    environment:
      - GOTIFY_URI=${GOTIFY_URI}
      - HTTPBIN_URI=${HTTPBIN_URI}
      - XDEBUG_MODE=coverage

  gotify:
    container_name: gotify-server
    image: gotify/server:2.8.0
    ports:
      - "8080:80"
    environment:
      - GOTIFY_DEFAULTUSER_NAME=admin
      - GOTIFY_DEFAULTUSER_PASS=admin
      - GOTIFY_DATABASE_DIALECT=sqlite3
      - GOTIFY_DATABASE_CONNECTION=/app/gotify.db

  httpbin:
    container_name: gotify-httpbin
    image: ghcr.io/mccutchen/go-httpbin:2.20
    ports:
      - "8081:8081"
    command: ["go-httpbin", "-port", "8081"]

volumes:
  vendor:
