name: Code quality

on:
  pull_request:
    paths:
      - "**.php"
      - "phpcs.xml"
      - ".github/workflows/code-quality.yml"
  push:
    branches: main
    paths:
      - "**.php"
      - "phpcs.xml"
      - ".github/workflows/code-quality.yml"

permissions:
  contents: read

jobs:
  phpstan:
    name: PHPStan

    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v3.5.3

      - name: Setup PHP
        uses: shivammathur/setup-php@2.25.2
        with:
          php-version: '8.1'

      - name: "Validate composer.json and composer.lock"
        run: "composer validate --strict"

      - name: Install dependencies with composer
        run: composer install --prefer-dist

      - name: Run PHPStan
        run: ./vendor/bin/phpstan analyse

  phpcs:
    name: phpcs

    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v3.5.3

      - name: Setup PHP
        uses: shivammathur/setup-php@2.25.2
        with:
          php-version: '8.1'
          tools: cs2pr

      - name: Install dependencies with composer
        run: composer install --prefer-dist

      - name: Run phpcs
        run: ./vendor/bin/phpcs . --report=checkstyle | cs2pr

  phpmd:
    name: phpmd

    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3.5.3

      - name: Setup PHP environment
        uses: shivammathur/setup-php@2.25.2
        with:
          php-version: '8.1'

      - name: Install dependencies with composer
        run: composer install --prefer-dist

      - name: Run phpmd
        run: ./vendor/bin/phpmd . github phpmd.ruleset.xml --exclude 'vendor/*'

  php-cs-fixer:
    name: php-cs-fixer

    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v3.5.3

      - name: Setup PHP
        uses: shivammathur/setup-php@2.25.2
        with:
          php-version: '8.1'

      - name: Install dependencies with composer
        run: composer install --prefer-dist

      - name: Run php-cs-fixer
        run:  ./vendor/bin/php-cs-fixer fix --dry-run
